/* Write your CSS here */

.container {
  background-color: #07080c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
}
.heading2 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}
.para {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 15px;
}
.accButton {
  background-color: #0b69ff;
  color: #ffffff;
  height: 50px;
  width: 90px;
  border-width: 0px;
  border-radius: 5px;
}
.brakeButton {
  background-color: transparent;
  color: #94a3b8;
  border-radius: 5px;
  border-width: 10px;
  height: 50px;
  width: 90px;
}
.Img {
  height: 100px;
  width: 150px;
}
.speedometer {
  height: 40vh;
  width: 40vw;
}
